/*main.css*/

.top-image {
  background-image: url(assets/header.jpg);
  width: 1300px;
  height: 523px;
  margin: 75px;
  margin-top: 0;
  


  
}
.caption {
	text-align: center;
	vertical-align: middle;


}