/*main.css*/
body {
	width: 1300px;
	margin: auto;
}
.top-image {	
  background-image: url(assets/header.jpg);
  width: 1300px;  
  margin: auto;
  margin-top: 0;
  height: 523px;
}


}
.header {
	background-image: 
}
  

.tophdr  {
	
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
		
}

}
.logoimg {	
	position: absolute;
	float: left;
	left: 200px;
	top: 5px;
	padding-left: 20px;

}	
.logotext {
	position: absolute;
	float: left;
	left: 279px;
	top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: medium;

}
.linktext {
	position: absolute;
	float: right;
	right: 300px;
	top: 10px;
	font-size: medium;

}
.linksearch {
	position: absolute;
	float: right;
	right: 235px;
	top: 10px;
	font-size: medium;


}
.magnify {
	position: absolute;
	float: right;
	right: 200px;
	top: 10px;

}
.IYtext {
	position: relative;
	text-align: center;		
	font-family: 'Open Sans', sans-serif;
	font-size: medium;

}


.paragraph h1 {
	text-align: left;
	margin: 0;
	width: 500px;
	font-family: 'Oswald', sans-serif;
	font-size: medium;
}

 
.paragraph p {
text-align: left;
	margin: 0;
	width:500px;
	font-family: 'Open Sans', sans-serif;
	font-size: small;
}
.paragraph h2 {
	text-align: left;
	margin:0;
	width: 500px;
	font-size: small;

}


