/*main.css*/
body {
	width: 1300px;
	margin: auto;
}
.top-image {	
  background-image: url(assets/header.jpg);
  width: 1300px;  
  margin: auto;
  margin-top: 0;
  height: 523px;
}
  

.tophdr  {
	position: relative;
	text-align: center;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	top: 193px;
	color: white;
	font-size: 100px;
}
		
.underhder {
	position: relative;
	text-align:center;	
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	top: 185px;
}

.logoimg {	
	position: absolute;
	float: left;
	left: 200px;
	top: 5px;
	padding-left: 20px;

}	
.logotext {
	position: absolute;
	float: left;
	left: 279px;
	top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: medium;

}
.linktext {
	position: absolute;
	float: right;
	right: 300px;
	top: 15px;
	font-size: medium;
	font-family: 'Oswald', sans-serif;

}
.linksearch {
	position: absolute;
	float: right;
	right: 235px;
	top: 15px;
	font-size: medium;
	font-family: 'Oswald', sans-serif;


}
.magnify {
	position: absolute;
	float: right;
	right: 200px;
	top: 18px;

}



.centerpage{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;

}
.leftcol {
	width: 650px;
	margin-left: 100px;
	float: left;


}
h1 {
	font-size: 400%;
	font-family: 'Oswald', sans-serif;
}



.annemarie {
	float: left;
	height: 21px;
	width: 21px;
	font-family: 'Oswald', sans-serif;
	font-size: -100%%

}

	

.textleft {
	text-align: left;
	margin-left: 100px;
	margin-right: 550px;

}
h2 {
	font-family: 'Open Sans', sans-serif;
}

.rightcol {
	width: 400px;
	float: right;
	margin-right: 100px;
	overflow: hidden;
	

}
.author {
	padding-left: 158px;
	padding-top: 100px;
}

h3 {
	text-align: center;	
	font-family: 'Open Sans', sans-serif;
	font-size: medium;
	color: blue;
}	


h4 {
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	font-size: small;
	color: grey;

}

.ad {
	padding-left: 61px;
	padding-top: 36px;
}

h5 {
	padding-left: 250px;
	font-family: 'Open Sans',sans-serif;
	font-size: small;
	text-decoration: underline;
}

	















