$font stack: Open Sarif, sans-serif;





.top-image .tophdr .underhder .logotext . {

	font-family: 100% $font stack;
}


.centerpage .annemarie .textleft h2 .textleft2
	{
	font-family: 100% $font stack;

	}
.rightcol h3 h4 h5 {
	font-family: 100% $font stack;

}

.bottombR .logotxt2 .navitms {
	font-family: $font stack;
}





